* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(45deg, #2e213e, #2a077e);
    color: #E0E0E0;
    min-height: 100vh;
}

.container {
    height: 550px;
    width: 400px;

    background: linear-gradient(45deg, #604382, #2a077e);
    /* purple accent */
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 5px 5px black;
}

h1 {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}

img {
    height: 250px;
    width: 250px;
    border-radius: 50%;

    margin-left: 50px;

}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    row-gap: 10px;
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 15px;


}

input {
    width: 100%;
    cursor: pointer;
}

button {
    padding: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:400px) {
    .container {
        margin: 30px;
        width:300px;
        height: 400px; 
    }
    img {
    height: 100px;
    width: 100px;
    border-radius: 50%;

    margin-left: 80px;

}

}