* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(45deg, #ff74a4, #9f6ea3);
    color: #E0E0E0;
    min-height: 100vh;
}

.container {
    height: 550px;
    width: 350px;

    background: white;
    /* purple accent */
    color: #303642;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 5px 5px rgb(0, 0, 0, 0.15);
}

h1 {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;
}

.songimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.songimg img {
    height: 250px;
    width: 290px;
    border-radius: 20px;
    border: 3px solid rgb(69, 69, 69);

}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    row-gap: 10px;
}

.timings {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;



}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 15px;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: linear-gradient(to right, #4caf50 0%, #ccc 0%);
    outline: none;
    transition: background 0.3s ease;
    /* smooth timing */
}

/* Chrome / Safari thumb */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

#slider::-webkit-slider-thumb {
    background: linear-gradient(45deg, #ff74a4, #9f6ea3);
    transform: scale(1.2);
}

#prev_song,
#current_song,
#next_song {
    background: linear-gradient(45deg, #ff74a4, #9f6ea3);
    color: #ffff;
}

.songslider {
    width: 100%;
    position: relative;

}



button {
    padding: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

#slider {}

@media screen and (max-width:400px) {
    .container {
        margin: 30px;
        width: 300px;
        height: fit-content;
    }

    .songimg {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .songimg img {
        height: 220px;
        width: 220px;
        border-radius: 20px;
    }


    .songslider {
        width: 100%;
        position: relative;

    }
}